* {
  padding: 0;
  margin: 0;
}

/* *the header beginne* */

header {
  background-color: #eeebec;
  height: 120px;
}

.containerListe {
  display: flex;
  justify-content: end;
}
.containerListe ul {
  display: flex;
  padding-right: 300px;
}

.containerListe ul li {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  line-height: 7.5rem;
}

.logo {
  padding-right: 400px;
  line-height: 7.5rem;
}

.containerListe ul li a {
  text-decoration: none;
  color: #7a6666;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.containerListe ul li a:hover {
  color: #d3c40d;
}

/* *the header end* */

/* *section **/

.sectionImage {
  padding: 0px 90px 0px 200px;
}

.section1 {
  background-color: #f8f8f8;
}

/* *section 1 end* */

/* *section new product* */

.newProduct {
  width: 100%;
  height: 260px;
  background-color: #eae7e8;
}

.container {
  display: flex;
  margin: auto;
}

.textnewproduct {
  padding: 0 200px 0 300px;
  font-family: sans-serif;
  color: #7d768b;
}

.textnewproduct h4 {
  padding: 40px 0 20px 0;
}
.textnewproduct h1 {
  color: #e32a62;
  padding-bottom: 30px;
  font-weight: 900;
}

.textnewproduct p a {
  color: #7d768b;
}
.textnewproduct p a:hover {
  color: #c8c10d;
}

/* *the end of section of new product* */

.ourService {
  background-color: #c8c10d;
  height: 150px;
  /* background-image: linear-gradient(
    to right top,
    #f5f5f5,
    #ded4e5,
    #d2b1ce,
    #ca8dae,
    #c26886,
    #c26886,
    #c26886,
    #c26886,
    #ca8dae,
    #d2b1ce,
    #ded4e5,
    #f5f5f5
  ); */
}

.ourService ul {
  display: flex;
  justify-content: space-between;
  padding: 0 300px;
  list-style: none;
}

.ourService ul li {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.ourService ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}

.ourService ul li a:hover {
  color: white;
}

.ourService ul li img {
  height: 50px;
  width: 60px;
  color: white;
  padding-bottom: 20px;
  padding-left: 13px;
}

.soicalmedia {
  background-color: #cb3362;
  height: 250px;
  /* background-image: linear-gradient(
    to right bottom,
    #f5f5f5,
    #ded4e5,
    #d2b1ce,
    #ca8dae,
    #c26886,
    #c26886,
    #c26886,
    #c26886,
    #ca8dae,
    #d2b1ce,
    #ded4e5,
    #f5f5f5
  ); */
}

.socialmedioaIcons {
  display: flex;
  justify-content: center;
}

.socialmedioaIcons a {
  padding: 30px 50px;

}

.soicalmedia p {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-family: sans-serif;
}

/* ! abot page */
/* *header * */
.about {
  margin: 0;
  padding: 0;
  background-color: #c8c10d;
  height: 80px;
}

.about h2 {
  padding-top: 30px;
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-weight: 500;
}
/**header  end * */

/* *section of image* */
.imgAbout {
  width: 100%;
  height: 300px;
}

/* *section about us  * */
.blog {
  display: flex;
}
.containerAbout {
  display: flex;
  padding: 100px 200px;
  background-color: white;
}

.community {
  text-align: center;
  background-color: #efedee;
  margin-right: 60px;
  border-radius: 3px;
  padding: 20px;
  font-family: sans-serif;
  line-height: 3rem;
  color: #7a6666;
  width: 500px;
}
.community a {
  color: #7a6666;
}

.community a:hover {
  color: #bc3d3d;
}
.community span {
  color: #cb3362;
  font-size: xx-large;
  line-height: 4rem;
}

.temples {
  width: 100%;
  line-height: 2rem;
  color: #7a6666;
}

.temples h2 {
  color: #cb3362;
  font-family: sans-serif;
  padding: 30px 0;
}

.temples a {
  color: #7a6666;
  font-family: sans-serif;
}
.temples a:hover {
  color: #cb3362;
}
.temples p {
  font-weight: 500;
}

/* ! the end of the section */

/* * the blog page start * */

.blog {
  padding: 100px 300px;
}

.navBar {
  height: 100px;
  text-align: center;
  background-color: #c8c10d;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  display: flex;
  width: 600px;
  text-align: left;
  font-family: sans-serif;
  padding: 20px;
  line-height: 1.5rem;
}

.container div img {
  padding-right: 30px;
}

.container div h2 {
  color: #cb3362;
  padding-bottom: 5px;
}

.container div p,
h6 {
  color: #7a6666;
  padding: 5px;
}

.btn {
  border: 1px solid #7a6666;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  width: 150px;
  margin-left: 40px;
  text-decoration: none;
  color: #7d768b;
}

.btn:hover {
  background-color: #c8c10d;
  color: white;
  border: #c8c10d;
  text-align: center;
}

.kiwi {
  background-color: #efedee;
  width: 300px;
  padding: 50px;
  height: 600px;
  border: 5px;
}

.kiwi h2 {
  color: #bc3d3d;
  text-align: center;
  padding: 20px;
}

.kiwi p,
h6 {
  text-align: center;
  line-height: 1.5rem;
  color: #7d768b;

  font-family: sans-serif;
  padding: 10px;
}
/* ! the end of blog */

/* * the start of contact * */

.mapcontainer {
  background: url(../image/map.jpg) center center / cover;
  width: 100%;
  height: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minimap {
  height: 125px;
  background: white;
  opacity: 0.7;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
  width: 700px;
}

.mapcontainer div img {
  background: white;
  opacity: 0.7;
  height: 75px;
  padding:50px 30px 55px 30px;
  
}

.formailer{
  padding: 50px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.inp input {
  height: 30px;
  width: 600px;
  margin: 5px 0;
  color: #7a6666;
}

.inp textarea{
  width: 600px;
  color: #7d768b;
  height: 250px;
}

.inp h2 {
  color: #bc3d3d;
  font-family: sans-serif;
  margin-bottom: 10px;
}
button {
  width: 100px;
  height: 30px;
  margin-left:  250px; ;
  margin-top: 20px;
  color: #7a6666;
  background-color: white;
  border: #7d768b solid 1px;
}
button:hover{
  background-color: #c8c10d;
  color: white;
}
.fromYou {
  height: 250px;
  width: 200px;
  margin-left: 30px;
  padding: 30px;
  font-family: sans-serif;
  color: #7d768b;
  background-color: #EFEDEE;
text-align: center;
}

.fromYou h2 {
  color: #bc3d3d;
  padding-bottom: 10px;
  line-height: 1.5rem;
}

.red{
  color: #bc3d3d;
}